
body{
    margin: 0;
    padding: 0;
    background-color: #EEF5FB;
}
.head-bg{
    background-color: #28394B;
}

.header-txt-col > th{
    color: #fff;
}

.my-form{
    position: relative;
}

.status-bg{
    padding: 10px 20px;
}

@media only screen and (min-width: 320px) and (max-width: 768px){
    .nav-flex{
        justify-content: center
    }
}


